:root {
	--hue: 213;
	--saturation: 52.4%;
}

button {
	background-color: var(--window);
	border-color: var(--light) var(--dark) var(--dark) var(--light);
	color: white;
}

body {
	--dark: hsl(var(--hue), var(--saturation), 16.5%);
	--mid: hsl(var(--hue), var(--saturation), 21.8%);
	--window: hsl(var(--hue), var(--saturation), 32.9%);
	--mid-light: hsl(var(--hue), var(--saturation), 41.2%);
	--light: hsl(var(--hue), var(--saturation), 49.4%);
	background-color: var(--window);
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
}

select {
	background-color: black;
	color: white;
	border: none;
	font-weight: bold;
}

.textbox {
	background-color: black;
	color: #00ffff;
	border: none;
	padding: 5px;
	line-height: normal;
}

.raised {
	border-color: var(--light) var(--dark) var(--dark) var(--light) !important;
	border-style: solid !important;
	border-width: 3px;
}

.sunken {
	border-color: var(--dark) var(--light) var(--light) var(--dark) !important;
	border-style: solid !important;
	border-width: 3px;
}

/* Layout CSS */

#renderSpace {
	line-height: 0;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	border-width: 2px;
}

#itemSpace {
	display: inline-flex;
	margin: 0 auto !important;
}

#textStats {
	resize: none;
	background-color: black;
	color: white;
	border: none;
	font-weight: bold;
}

#miscThings {
	height: 95vh;
	margin-right: 0.75%;
	width: 15%;
	display: flex;
	flex-direction: column;
	padding: 2.5px;
}

#miscThings > * {
	margin: 2.5px;
	border-width: 2px;
}

/* Renderer things */

#viewportCanvas {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: optimizeSpeed;
}
