@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		width: 100vw;
		height: 100vh;
	}
	body,
	dialog {
		@apply text-neutral-100;
	}
	#app {
		display: contents;
	}
}

@layer components {
	.box {
		@apply bg-theme-900 rounded-md p-2 shadow-lg;
	}
}
