body {
	font-family: sans-serif;
	--theme-color-huesat: 212deg 70%;
	--general-bg: hsl(var(--theme-color-huesat) 20%);
	--secondary-bg: hsl(var(--theme-color-huesat) 10%);
	--page-bg-brightness: 40%;
	--page-bg-darker-color: hsl(
		var(--theme-color-huesat) calc(var(--page-bg-brightness) * 100 / 125)
	);
	--page-bg-lighter-color: hsl(
		var(--theme-color-huesat) calc(var(--page-bg-brightness) * 125 / 100)
	);
	--text-color: hsl(0, 0%, 85%);
	--text-color-disabled: hsl(0, 0%, 40%);
	--icon-color: var(--text-color);
	--timer-bg: #000000;
	--time-unknown: hsl(210, 100%, 50%);
	--time-better: hsl(120, 100%, 25%);
	--time-worse: hsl(0, 100%, 40%);
	color: var(--text-color);
}

.container {
	border-radius: 5px;
	background: var(--general-bg);
}

.closedPage {
	display: none !important;
}

body.gameBody {
	margin: 0;
	display: flex;
	flex-direction: row;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		to top left,
		var(--page-bg-darker-color),
		var(--page-bg-lighter-color)
	);
}

button {
	--button-high-color: hsl(var(--theme-color-huesat) 40%);
	--button-low-color: hsl(var(--theme-color-huesat) 33%);
	color: var(--text-color);
	padding: 0 0.4em;
	border-width: 2px;
	border-style: solid;
	border-color: var(--button-high-color) var(--button-low-color)
		var(--button-low-color) var(--button-high-color);
	border-radius: 2px;
	background-image: linear-gradient(
		to bottom,
		var(--button-high-color),
		var(--button-low-color)
	);
}

button:hover:not(:disabled) {
	--button-high-color: hsl(var(--theme-color-huesat) 45%);
	--button-low-color: hsl(var(--theme-color-huesat) 38%);
}

button:active:not(:disabled) {
	--button-high-color: hsl(var(--theme-color-huesat) 30%);
	--button-low-color: hsl(var(--theme-color-huesat) 23%);
}

button:disabled {
	--button-high-color: hsl(var(--theme-color-huesat) 20%);
	--button-low-color: hsl(var(--theme-color-huesat) 13%);
	color: var(--text-color-disabled);
}

/* Tooltip */

.tooltipRoot {
	width: fit-content;
	transform-origin: 10px 10px;
	display: flex;
	opacity: 0.9;
	animation: openTooltip 0.75s cubic-bezier(0.2, 0, 0.2, 1) forwards;
	position: absolute;
	left: 110%;
	top: 35%;
	z-index: 100;
	user-select: none;
}

.tooltipBox {
	border-radius: 5px;
	flex-shrink: 0;
	backdrop-filter: blur(3px);
	padding: 0.6em 0.75em;
}
.tooltipTriangle {
	width: 0;
	height: 0;
	backdrop-filter: blur(3px);

	display: inline-block;
	border: solid 10px transparent;
	border-right: solid 10px var(--general-bg);
	position: relative;
	top: 5px;
	margin-right: -1px;
}

@keyframes openTooltip {
	from {
		transform: scale(40%);
		opacity: 0;
	}

	50% {
		opacity: 0.9;
	}

	100% {
		opacity: 0.9;
		transform: scale(100%);
	}
}
@keyframes closeTooltip {
	from {
		opacity: 0.9;
		transform: scale(100%);
	}

	50% {
		opacity: 0;
	}

	to {
		opacity: 0;
		transform: scale(40%);
	}
}
.buttonTooltipBox {
	display: flex;
	flex-direction: column;
	row-gap: 0.5em;
}
.buttonTooltipRow {
	display: flex;
	flex-direction: row;
	padding: 0.2em 0.5em;
	border-radius: 3px;
	cursor: pointer;
}
.buttonTooltipRow:focus-visible {
	outline: none;
}
.buttonTooltipRow:hover,
.buttonTooltipRow:focus-visible {
	background: var(--secondary-bg);
}
.buttonTooltipKey {
	padding-left: 2em;
	margin-left: auto;
	padding-bottom: 0.2em;
}
hr {
	margin: 0;
}
/* Copied wholesale from https://github.com/eevee/lexys-labyrinth/ */
kbd {
	padding: 0 0.25em;
	border: 1px solid currentColor;
	border-radius: 0.25em;
	box-shadow: 0 2px 0 currentColor;
	text-align: center;
	text-transform: uppercase;
	width: fit-content;
}

/* The sidebar */

.sidebar {
	border-radius: 0px;
	width: min(20%, 150px);
	height: 100%;
	display: flex;
	flex-direction: column;
	animation: sidebarSlideIn 1s ease-in-out;
}

.sidebarButton {
	margin: 1em;
	display: flex;
	position: relative;
}

.bottomButton {
	margin-top: auto;
}

.sidebarButton > img,
.levelIconContainer {
	width: 80%;
	user-select: none;
	margin: auto;
}

.levelIconContainer {
	position: relative;
}

.sidebarButton > img,
.levelIconContainer > img {
	display: block;
	cursor: pointer;
}

.levelIconContainer > img {
	width: 100%;
}

#levelIconText {
	position: absolute;
	top: 25%;
	height: 35%;
	left: 12%;
	width: 75%;
	font-size: 2.3em;
	color: var(--icon-color);
	text-align: center;
	user-select: none;
	pointer-events: none;
}

#loadingPage {
	width: fit-content;
	height: fit-content;
	margin: auto;
}

#loadingPage > p {
	font-style: italic;
}

/* The game player */

#levelPlayerPage {
	padding: var(--quarter-tile);
	border-radius: 5px;
	margin: auto;
	display: grid;
	gap: var(--quarter-tile);
	grid-template-areas:
		"viewport stats"
		"viewport inventory"
		"viewport hint";
	--base-tile-size: 32px;
	--tile-scale: 2;
	--tile-size: calc(var(--base-tile-size) * var(--tile-scale));
	--quarter-tile: calc(var(--tile-size) / 4);
}

#levelPlayerPage > .stats {
	grid-area: stats;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: repeat(auto-fill, 1em);
	gap: var(--quarter-tile);
	padding: var(--quarter-tile);
	padding-bottom: 0;
	font-size: 1.2em;
	white-space: nowrap;
}

.stats > output {
	text-align: right;
}

/* The (nixed) timer */

.timer {
	grid-area: timer;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1em 3em;
	gap: 0px 0px;
	grid-template-areas:
		"text"
		"bar";
}

.timerText {
	grid-area: text;
	text-align: center;
}

.timerBar {
	grid-area: bar;
	width: 90%;
	background-color: var(--timer-bg);
	height: calc(100% - 1em);
	margin: 0.5em auto;
	position: relative;
	display: flex;
}

.timerBar > * {
	height: 100%;
}

.timerBar > .unknown {
	background-color: var(--time-unknown);
}

.timerBar > .better {
	background-color: var(--time-better);
}

.timerBar > .worse {
	background-color: var(--time-worse);
}

.timerBar > .timerBarTextContainer {
	position: absolute;
	display: flex;
	width: 100%;
}

.timerBarTextContainer > .timeText {
	margin: auto;
}
.timerBarTextContainer > .timeOverflowText {
	color: var(--time-better);
	margin: auto;
	margin-right: 0.25em;
	font-size: 1.25em;
	font-weight: bolder;
	user-select: none;
}

/* Misc game player sections */

.pixelCanvas {
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	image-rendering: optimizeSpeed;
}

#levelPlayerPage > .viewportArea {
	grid-area: viewport;
	position: relative;
	width: calc(var(--tile-size) * var(--level-camera-width));
	height: calc(var(--tile-size) * var(--level-camera-height));
}

#levelViewportCanvas {
	width: 100%;
	height: 100%;
}

/* Viewport overlay */

#levelViewportOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: grid;
	gap: 0px 0px;
	grid-template:
		". . ." var(--tile-size)
		". text ." var(--tile-size)
		". . ." 0.5fr
		". stats ." 1fr
		". . ." 0.5fr
		". buttons ." calc(var(--tile-size) * 1.5)
		". . ." calc(var(--tile-size) * 0.75)
		/ 0.15fr 2.7fr 0.15fr;
	--win-background: radial-gradient(#4406, #660d);
	--timeout-background: radial-gradient(#0084, #0088);
	--death-background: radial-gradient(#1004, #2008);
}

#levelViewportOverlay[data-game-state="won"] {
	background-image: var(--win-background);
}

#levelViewportOverlay[data-game-state="timeout"] {
	background-image: var(--timeout-background);
}

#levelViewportOverlay[data-game-state="death"] {
	background-image: var(--death-background);
}

#levelViewportOverlay > * > .statsContainer {
	grid-area: stats;
	padding: var(--quarter-tile);
}

#levelViewportOverlay > * > h3 {
	grid-area: text;
	text-align: center;
	font-size: 300%;
	margin: 0;
}

#levelViewportOverlay > * > .buttonContainer {
	box-sizing: border-box;
	justify-content: stretch;
	grid-area: buttons;
	gap: var(--quarter-tile);
	padding: var(--quarter-tile);
	height: 100%;
	display: flex;
	flex-direction: row;
}

.buttonContainer > button {
	flex: 1;
	font-size: 120%;
}

#levelViewportOverlay > * {
	display: none;
}

#levelViewportOverlay[data-game-state="won"] > #overlayWinContents {
	display: contents;
}

#levelViewportOverlay[data-game-state="death"] > #overlayLoseContents,
#levelViewportOverlay[data-game-state="timeout"] > #overlayLoseContents {
	display: contents;
}

#overlayLoseContents > h3.deathOnly,
#overlayLoseContents > h3.timeoutOnly {
	display: none;
}

#levelViewportOverlay[data-game-state="death"]
	> #overlayLoseContents
	> h3.deathOnly,
#levelViewportOverlay[data-game-state="timeout"]
	> #overlayLoseContents
	> h3.timeoutOnly {
	display: initial;
}

#levelPlayerPage > #levelInventoryCanvas {
	grid-area: inventory;
	margin: auto;
	width: calc(var(--tile-size) * 4);
	height: calc(var(--tile-size) * 2);
	background-color: azure;
}

/* Set selector (stub) */

#setSelectorPage {
	margin: auto;
	padding: 0.6em 0.75em;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 0.5em 0.5em;
	grid-template-areas:
		"big-button big-button"
		". .";
}

#setSelectorPage > .bigButton {
	grid-area: big-button;
}
