.hidden {
	display: none;
}

tr,
td {
	width: 100px;
	height: 100px;
	overflow-wrap: break-word;
}

brList>*:after {
	content: "\A";
	white-space: pre;
}

#levelInput {
	opacity: 0;
}

/* Renderer things */

.renderer {
	image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
	image-rendering: optimizeSpeed;
}

